body{
    font-family: Verdana;
    background-color:azure;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.box-menu img{
    width: 400px;
    height: 200px;
    border: solid black 2px;
}

.nav-bar{
    display: flex;
    justify-content: start;
    gap: 50px;
    background-color: aqua;
    padding: 10px;
}

.nav-bar a{
    text-decoration: none;
}

.req-box{
    text-align: center;
    padding: 20px;
}

.req3-box{
    margin: auto;
    border: solid black 2px;
    width: 40%;
}

#img-req1{
    width: 50%;
}

.req2-boxes{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.req2-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.req2-box img{
    height: 200px;
    width: 200px;
    padding-bottom: 10px;
}


